::-webkit-scrollbar {
    background: transparent; /* or 'rgba(0, 0, 0, 0)' for transparent */
  }
  
  /* Targeting the scrollbar track for Webkit browsers */
  ::-webkit-scrollbar-track {
    background: transparent; /* or 'rgba(0, 0, 0, 0)' for transparent */
  }
  
  /* Targeting the scrollbar thumb for Webkit browsers */
  ::-webkit-scrollbar-thumb {
    background-color: #ff0000; /* or another color */
    border-radius: 10px;
    border: 3px solid transparent; /* Optional: just for styling */
  }

  html {
    scrollbar-width: thin;
    scrollbar-color: transparent;
    }